* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Navigation Bar */
nav {
  background-color: #f1f3ff;
}
nav .navigasi a {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-right: 12px;
}

nav .navigasi button {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 12px;
  border-radius: 3px;
  background-color: #5cb85f;
  border: none;
}

nav .navigasi {
  margin-top: 8px;
}
/* end of navigation bar */

/* Main/Hero section */
#hero {
  background-color: #f1f3ff;
  height: 100vh;
  position: relative;
}

#hero .col {
  position: relative;
  top: 170px;
  left: 0;
}

#hero h1 {
  font-weight: 700;
  font-size: 36px;
  width: 568px;
  height: 108px;
  line-height: 150%;
}

#hero p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  width: 468px;
  height: 60px;
}

#hero button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  background-color: #5cb85f;
}

#hero .bg {
  position: absolute;
  bottom: 0;
  right: 0;
}

#hero .mobil {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* End of Main/Hero section */

/* Our Service Section */

/* Service */
/* #service,
#homepage {
  background-color: #e5e5e5;
} */

#service .col {
  display: flex;
  margin-top: 120px;
}

#service .col .content {
  margin-left: 100px;
}

#service .col h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  margin-left: 30px;
}

#service .col p {
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  margin-left: 30px;
}

#service .col ul {
  list-style-type: none;
}

#service .col ul li {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}
/* End of Our Navigation Section*/

/* Why Us Section */
#homepage .col {
  margin-top: 120px;
}

#homepage .col h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

#homepage .col p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.row .card-homepage {
  display: flex;
}

.row section.card-homepage {
  justify-content: space-between;
}

.row section.card-homepage .card {
  box-sizing: border-box;
  padding: 10px;
  margin-top: 30px;
  width: 260px;
}

.row section.card-homepage .card img {
  width: 32px;
  height: 32px;
  margin-left: 12px;
  margin-top: 12px;
}

.row section.card-homepage h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.row section.card-homepage p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
/* End of Why Us Section */

/* Testimonial Section */
/* Head */
#testimonial .head {
  text-align: center;
  margin-top: 120px;
}

#testimonial .head h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

#testimonial .head p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

/* Carousel */
#testimonial #owl-demo .item {
  margin: 3px;
}

#testimonial #owl-demo .item img {
  display: flex;
  width: 100%;
  height: auto;
}

#testimonial .owl-carousel .item1,
.item2,
.item3,
.item4 {
  display: flex;
  width: 619px;
  height: 270px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 32px;
  margin: 40px;
  background-color: #f1f3ff;
}

#testimonial .owl-carousel .item1 .foto img,
#testimonial .owl-carousel .item2 .foto img,
#testimonial .owl-carousel .item3 .foto img,
#testimonial .owl-carousel .item4 .foto img {
  width: 80px;
  height: 80px;
  position: relative;
  top: 40px;
  margin-right: 20px;
}

#testimonial .owl-carousel .item .content-carousel p {
  font-weight: 300px;
  font-size: 14px;
  line-height: 20px;
}

#testimonial .owl-carousel .item .content-carousel h5 {
  font-weight: 400px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 8px;
}
#testimonial .owl-carousel .item1 .content-carousel img,
#testimonial .owl-carousel .item2 .content-carousel img,
#testimonial .owl-carousel .item3 .content-carousel img,
#testimonial .owl-carousel .item4 .content-carousel img {
  width: 80px;
  height: 16px;
  margin-bottom: 8px;
}
/* End of Testimonial Section */

/* Getting Started Section */
#getting-starter .card-body h3 {
  font-weight: 700px;
  font-size: 36px;
  line-height: 150%;
  margin-top: 30px;
  margin-bottom: 16px;
}

#getting-starter .card-body p {
  font-weight: 300px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 52px;
}

#getting-starter .card {
  background-color: #0d28a6;
  color: #fff;
  border-radius: 13px;
  margin-top: 120px;
  width: 100%;
}

#getting-starter .card button {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 12px;
  border-radius: 3px;
  background-color: #5cb85f;
  border: none;
  margin-bottom: 30px;
}
/* End of Getting Started Section */

/* Frequently Asked Question Section */
#question-section {
  margin-top: 120px;
}

#question-section .col h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

#question-section .col p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
#question-section .accordion .show .accordion-body p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

#question-section .row .accordion {
  width: 75%;
  float: right;
  margin-left: -100px;
}
/* End of Frequently Asked Question Section  */

/* Footer */
footer .container {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}

footer .container p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

footer .connection ul li {
  list-style: none;
}

footer .information ul li {
  list-style: none;
}

footer .connection a {
  margin-left: 8px;
}

footer .feature ul li {
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 1200px) {
  #hero .col {
    position: relative;
    left: 0;
    top: 60px;
  }

  #hero .bg,
  #hero .mobil {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  #service .col {
    flex-wrap: wrap;
  }

  #service .col .gambar img {
    width: 100%;
  }

  #service .col .content {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  #homepage .col h3,
  #homepage .col p {
    text-align: center;
  }

  #homepage .row .card-homepage {
    flex-wrap: wrap;
    flex-direction: column;
  }

  #homepage .row .card-homepage .card {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  #hero .mobil,
  #hero .bg {
    width: 80%;
  }
}

@media screen and (max-width: 620px) {
  #hero h1,
  #hero p {
    width: 85%;
    margin-bottom: 30px;
  }

  #hero h1 {
    margin-bottom: 55px;
  }

  #hero .mobil,
  #hero .bg {
    width: 90%;
  }
}

@media screen and (max-width: 465px) {
  #hero h1,
  #hero p {
    width: 80%;
  }

  #hero p {
    margin-top: 120px;
    margin-bottom: 30px;
  }

  #hero .mobil,
  #hero .bg {
    width: 90%;
  }
}
